altgraph==0.17
astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
et-xmlfile==1.0.1
future==0.18.2
geojson==2.5.0
idna==2.8
IMAPClient==2.1.0
isort==4.3.21
jdcal==1.4.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
matplotlib==3.1.1
mccabe==0.6.1
MouseInfo==0.1.2
numpy==1.17.3
openpyxl==3.0.3
pefile==2019.4.18
Pillow==7.0.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.3.1
PyMouse==1.0
PyMsgBox==1.0.7
pynput==1.6.8
pyowm==2.10.0
pyparsing==2.4.2
PyPDF2==1.26.0
pyperclip==1.7.0
PyQt5==5.13.0
PyQt5-sip==12.7.1
pyqt5-tools==5.13.0.1.5
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.1
python-dateutil==2.8.0
python-dotenv==0.11.0
PyTweening==1.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
pyzmail36==1.0.4
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.5
twilio==6.35.3
typed-ast==1.4.0
urllib3==1.26.5
wrapt==1.11.2
